<div class="center padded">
    <div class="content">
        <div class="row vert-pad">
            <div class="left padded">
                <h1>Trabajemos juntos</h1>
                <p>Aportare el valor que se encuentre a mi disposición </p>
            </div>
            <div id="contacto" class="right padded">
                    <form class="contact-form" method="post" action="{{ url_for('portfolio.mail')}} ">
                        <input name="name" placeholder="Ingresa tu Nombre" required /> 
                        <input name='email'placeholder="Ingresa tu correo" required type="email" />
                        <textarea name="message" placeholder="Dejame tu comentario" required minlength=10></textarea>
                        <button class="btn full-width">Enviar</button>   
                    </form>
            </div>
        </div>
    </div>
</div>